#titulo{ background: #92A097 ; }
.Titulo_Principal{color: #E1E1E1  ; text-decoration: underline;}
.Subtitulo1{color: #E59866; background-color:#808B96; text-decoration: underline; text-align: center;}
.Ingredientes{background-color: #808B96;}
.Subtitulo2{color: #E59866; font-family: arial; background-color:#808B96;  text-decoration: underline; text-align: center;}
.Preparación{background-color:#808B96;}
.parrafo{font-size: 130%;}
ul {font-size: 130%;}
ol {font-size: 130%;}
.parrafo{text-align: center; background-color: #CB6261; font-size: 1.4rem;}
.Titulo_Principal{background-color: #28B463;}
.imagen-1{width: 20%; height: 23%;}
aside {background-color: #808B96; width: 25%; float: left; height:300px; overflow: auto; border: 3px solid green; border-radius: 15%;}
section {background-color: #808B96; float: left; height: 260px; width: 20vw; overflow: auto; margin: 1%; border: 3px solid green; border-radius: 15%;}
.nav{text-decoration: underline;}
.enlaces{font-size: 150%;}
.wpp{position: fixed; height: 70px; width: 70px; top: 85%; right: 1%;}
.mapa{clear: both;}
.ig{width: 70px; height: 70px;}
.fb{width: 70px; height: 70px;}
footer{position: relative; right: 47%; top: 400px;}
.texto{font-size: 160%;}
.mapa{position: relative; bottom: 360px; left: 60%;}
.texto2{position: fixed; top: 77%; right: 2.5%;}
.nav-1{
   width: 50%; height: 5rem padding: 2;
}

.wpp:hover{
  width: 70px;
  height: 60px;
}
.ig:hover{
  width: 70px;
  height: 60px;
}
.fb:hover{
  width: 70px;
  height: 60px;
}

.Contacto:hover{
  width: 70px;
  height: 60px;
}

.enlaces:hover{
 background-color: powderblue;
}
.contactanos{
  width: 200px;
  height: 80px;
top: 500px;
position: relative;
}
.contactanos:hover{
  width: 180px;
  height: 100px;
}

.imagen{
  width: 20vw;
  height: 25vh;
}

.video{
  width: 50%;
  height: 20vh;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.Titulo_Principal{
font-family: 'Lobster', cursive;
font-size: 2em;
}
@font-face {
font-family: 'Italianno', cursive;
src: url("../fuentes/Italianno-Regular.ttf")
format('truetype');
}
.Subtitulo1{
  font-family: "Italianno", cursive;
}
.Subtitulo2{
  font-family: "Italianno", cursive;
}
