#titulo{ background: #92A097 ; }
.Titulo_Principal{color: #E1E1E1   ; font-family: arial; text-decoration: underline;}
.Subtitulo1{color: #E59866; font-family: arial; background-color:#808B96; text-decoration: underline;}
.Ingredientes{background-color: #808B96;}
.Subtitulo2{color: #E59866; font-family: arial; background-color:#808B96;  text-decoration: underline;}
.Preparación{background-color:#808B96;background-color:#808B96;}
.parrafo{font-size: 130%;}
ul {font-size: 130%;}
ol {font-size: 130%;}
.parrafo{text-align: center; background-color: #CB6261}
.Titulo_Principal{background-color: #28B463;}
.imagen{width: 300px; height: 200px;}
